[v-cloak] > * {
    display: none;
}

* {
    text-transform: none !important;
}

.pointer-events-none {
    pointer-events: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

#app,
.toasted {
    // set font style
}
