<template>
    <base-layout :fill-height="true" :public="true">
        <v-row justify="center" align="center">RESET PASSWORD</v-row>
    </base-layout>
</template>

<script lang="ts">
import { Page } from '@/mixins/page';
import { Component } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

const authenticateStore = namespace('authenticate');

@Component({
    components: {},
})
export default class ResetPassword extends Page {
    @authenticateStore.Action('resetPassword') private resetPassword!: (data: any) => void;

    private isResettingPassword = false;
    private isResetedPassword = false;

    private onResetPassword(): void {
        this.isResettingPassword = true;
        setTimeout(() => {
            this.isResetedPassword = true;
            this.isResettingPassword = false;
        }, 1000);
    }
}
</script>

<style lang="scss" scoped></style>
