<template>
    <base-layout :fill-height="true" :public="true">
        <v-row justify="center" align="center">FORGOT PASSWORD</v-row>
    </base-layout>
</template>

<script lang="ts">
import { Page } from '@/mixins/page';
import { Component } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

const authenticateStore = namespace('authenticate');

@Component({
    components: {},
})
export default class ForgotPassword extends Page {
    @authenticateStore.Action('forgotPassword') private forgotPassword!: (data: any) => void;

    private isLoadingForgotPassword = false;

    private onForgotPassword(): void {
        this.isLoadingForgotPassword = true;
        setTimeout(() => {
            this.isLoadingForgotPassword = false;
        }, 1000);
    }
}
</script>

<style lang="scss" scoped></style>
