<template>
    <section>
        <v-row justify="center">BASE HEADER</v-row>
    </section>
</template>

<script lang="ts">
import { Base } from '@/mixins/base';
import { Component } from 'vue-property-decorator';

@Component({
    components: {},
})
export default class BaseHeader extends Base {
    private mounted() {
        this.init();
    }

    private async init(): Promise<void> {}
}
</script>

<style lang="scss" scoped></style>
