<template>
    <v-app>
        <slot name="header" v-if="isShowHeader">
            <base-header :style="getApplicationStyle"></base-header>
        </slot>

        <v-main :style="getApplicationStyle">
            <v-container v-if="getLoader" justify-center fill-height>
                <div class="loader-grid">
                    <div :style="getLoaderStyle"></div>
                    <div :style="getLoaderStyle"></div>
                    <div :style="getLoaderStyle"></div>
                    <div :style="getLoaderStyle"></div>
                    <div :style="getLoaderStyle"></div>
                    <div :style="getLoaderStyle"></div>
                    <div :style="getLoaderStyle"></div>
                    <div :style="getLoaderStyle"></div>
                    <div :style="getLoaderStyle"></div>
                </div>
            </v-container>
            <v-container v-show="!getLoader" fluid pa-0 :class="{ 'fill-height': isFillHeight }">
                <slot></slot>
            </v-container>
        </v-main>

        <slot name="footer" v-if="isShowFooter">
            <base-footer :style="getApplicationStyle"></base-footer>
        </slot>
    </v-app>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

import BaseHeader from '@/components/layouts/BaseHeader.vue';
import BaseFooter from '@/components/layouts/BaseFooter.vue';

const applicationStore = namespace('application');

@Component({
    components: {
        BaseHeader,
        BaseFooter,
    },
})
export default class BaseLayout extends Vue {
    @applicationStore.Getter('getLoader') private getLoader!: boolean;

    @Prop({ default: true }) private showHeader!: boolean;
    @Prop({ default: true }) private showFooter!: boolean;
    @Prop({ default: false }) private public!: boolean;
    @Prop({ default: false }) private fillHeight!: boolean;

    get isShowHeader(): boolean {
        return this.showHeader;
    }

    get isShowFooter(): boolean {
        return this.showFooter;
    }

    get isFillHeight(): boolean {
        return this.fillHeight;
    }

    get getApplicationStyle(): any {
        return {
            background: this.$vuetify.theme.dark ? this.$vuetify.theme.themes.dark.background : this.$vuetify.theme.themes.light.background,
        };
    }

    get getLoaderStyle(): any {
        return {
            background: this.$vuetify.theme.dark ? this.$vuetify.theme.themes.dark.loaderDot : this.$vuetify.theme.themes.light.loaderDot,
        };
    }
}
</script>

<style lang="scss" scoped>
.loader-grid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.loader-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    animation: loader-grid 2.0s linear infinite;
}
.loader-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
}
.loader-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
}
.loader-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
}
.loader-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
}
.loader-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
}
.loader-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
}
.loader-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
}
.loader-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
}
.loader-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
}
@keyframes loader-grid {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
</style>
