<template>
    <v-footer class="footer" height="40">
        <v-row justify="center"> Copyright&nbsp;&copy;&nbsp;{{ new Date().getFullYear() }}&nbsp;TEMPLATE </v-row>
    </v-footer>
</template>

<script lang="ts">
import { Component,  Vue } from 'vue-property-decorator';

@Component
export default class BaseFooter extends Vue {}
</script>

<style lang="scss" scoped></style>>
