<template>
    <base-layout :fill-height="true">
        <v-row justify="center" align="center">
            <v-btn @click="onLogout()" :loading="isLogsOut">LOGOUT</v-btn>
        </v-row>
        <v-row justify="center" align="center">
            <v-btn @click="$router.push({ name: 'About' })">GO TO ABOUT PAGE</v-btn>
        </v-row>
        <v-row justify="center" align="center">
            <v-col>
                <v-row justify="center"> <img alt="Vue logo" src="@/assets/logo.png" /> </v-row>
            </v-col>
            <v-col>
                <v-row justify="start"> <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"> </HelloWorld> </v-row
            ></v-col>
        </v-row>
    </base-layout>
</template>

<script lang="ts">
import { Page } from '@/mixins/page';
import { Component, Watch } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

import HelloWorld from '@/components/template/HelloWorld.vue';

const authenticateStore = namespace('authenticate');

@Component({
    components: {
        HelloWorld,
    },
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: '1 Title',
        // all titles will be injected into this template
        titleTemplate: '2, %s | My Awesome Webapp',
        meta: [
            {
                vmid: 'description',
                name: 'description',
                content: '& I will not be <sanitized>',
            },
        ],
        __dangerouslyDisableSanitizers: ['meta'],
    },
})
export default class Template extends Page {
    @authenticateStore.Mutation('setToken') private setToken!: (data: string | null) => void;
    @authenticateStore.Mutation('setAuthenticateSource') private setAuthenticateSource!: (data: any) => void;

    private isLogsOut = false;

    @Watch('getKeyCode')
    private onPressKeyChanged(data: number): void {
        if (data) {
            Page.toasted.info('Keycode: ' + data);
        }
        this.restoreKeyEvent();
    }

    private onLogout(): void {
        this.isLogsOut = true;
        setTimeout(() => {
            this.setToken(null);
            this.setAuthenticateSource(null);
            this.$router.push({ name: 'Login' });
        }, 1000);
    }
}
</script>

<style lang="scss" scoped></style>
