<template>
    <section>
        <router-view></router-view>
    </section>
</template>

<script lang="ts">
import { Page } from '@/mixins/page';
import { Component } from 'vue-property-decorator';

@Component({
    components: {},
})
export default class Main extends Page {
    /* eslint-disable no-unused-vars */
    private async beforeRouteEnter(to: any, from: any, next: any) {
        next();
    }
}
</script>

<style lang="less" scoped></style>
