<template>
    <base-layout :fill-height="true">
        <v-row justify="center" align="center">
            <v-btn @click="$router.push({ path: '/' })">BACK TO MAIN PAGE</v-btn>
        </v-row>
        <v-row justify="center" align="center">
            <h1>This is an about page</h1>
        </v-row>
    </base-layout>
</template>

<script lang="ts">
import { Page } from '@/mixins/page';
import { Component } from 'vue-property-decorator';

@Component({
    components: {},
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: 'Default Title',
        // all titles will be injected into this template
        titleTemplate: '%s | My Awesome Webapp',
    },
})
export default class About extends Page {}
</script>

<style lang="scss" scoped></style>
