<template>
    <base-layout :fill-height="true" :public="true">
        <v-row justify="center" align="center">
            UPDATE BROWSER
        </v-row>
    </base-layout>
</template>

<script lang="ts">
import { Page } from '@/mixins/page';
import { Component } from 'vue-property-decorator';

@Component({
    components: {},
})
export default class UpdateBrowser extends Page {}
</script>

<style lang="scss" scoped></style>
