<template>
    <div id="app" v-cloak>
        <router-view />
    </div>
</template>

<script lang="ts">
import { Page } from '@/mixins/page';
import { Component } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import SERVICE_IDENTIFIER from '@/models/Identifiers';
import container from '@/DI';

Component.registerHooks(['beforeRouteEnter', 'beforeRouteLeave', 'beforeRouteUpdate']);

const windowEventListenerStore = namespace('windowEventListener');

@Component({
    provide: {
        [SERVICE_IDENTIFIER.CONTAINER]: container,
    },
})
export default class App extends Page {
    @windowEventListenerStore.Mutation('setUpKeyEvent') private setUpKeyEvent!: (data: any) => void;

    private created(): void {
        window.addEventListener('keydown', this.setUpKeyEvent, false);
        const isSupportedUserBrowser = this.service.BrowserService.isSupportedUserBrowser();
        if (isSupportedUserBrowser) {
            if (window.location.pathname === '/update-browser') {
                this.$router.push({ path: '/' });
            }
        } else {
            this.$router.push({ name: 'UpdateBrowser' });
        }
    }

    private async mounted(): Promise<void> {
        await this.loader(this.init());
    }

    private destroyed(): void {
        window.removeEventListener('keydown', this.setUpKeyEvent, false);
    }

    private async init(): Promise<void> {
        await setTimeout(() => {}, 2000);
    }
}
</script>

<style lang="scss">
@import './assets/style/index';
</style>
