<template>
    <base-layout :fill-height="true" :public="true">
        <v-row justify="center" align="center" class="pb-10">
            <v-btn @click="onLogin()" :loading="isLoadingLogin">LOGIN</v-btn>
        </v-row>
    </base-layout>
</template>

<script lang="ts">
import { Page } from '@/mixins/page';
import { Component } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

const authenticateStore = namespace('authenticate');

@Component({
    components: {},
})
export default class Login extends Page {
    @authenticateStore.Mutation('setToken') private setToken!: (data: string | null) => void;
    @authenticateStore.Mutation('setAuthenticateSource') private setAuthenticateSource!: (data: any) => void;

    private isLoadingLogin = false;

    private onLogin(): void {
        this.isLoadingLogin = true;
        setTimeout(() => {
            this.setToken('token');
            this.setAuthenticateSource(null);
            this.$router.push({ path: '/' });
            this.isLoadingLogin = false;
        }, 1000);
    }
}
</script>

<style lang="scss" scoped></style>
