<template>
    <base-layout :fill-height="true" :public="true">
        <v-row justify="center" align="center">EMAIL FROM QUERY: {{ email }}</v-row>
        <v-row justify="center" align="center">TOKEN FROM QUERY: {{ token }}</v-row>
    </base-layout>
</template>

<script lang="ts">
import { Page } from '@/mixins/page';
import { Component } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

const authenticateStore = namespace('authenticate');

@Component({
    components: {},
})
export default class RecoveryPassword extends Page {
    @authenticateStore.Action('validateLink') private validateLink!: (data: any) => void;
    @authenticateStore.Action('recoveryPassword') private recoveryPassword!: (data: any) => void;

    private isValidatingLink = false;
    private isValidLink = false;
    private isInvalidLink = false;

    private isRecoveringPassword = false;
    private isRecoveredPassword = false;

    private email: string | undefined = '';
    private token: string | undefined = '';

    private created(): void {
        this.email = this.$route.query.email as string;
        this.token = this.$route.query.token as string;
    }

    private mounted() {
        if (this.email && this.token) {
            this.onValidateLink();
        } else {
            this.isInvalidLink = true;
            Page.toasted.error('Invalid link');
        }
    }

    private onValidateLink(): void {
        this.isValidatingLink = true;
        setTimeout(() => {
            this.isValidLink = true;
            this.isValidatingLink = false;
        }, 1000);
    }

    private onRecoveryPassword(): void {
        this.isRecoveringPassword = true;
        setTimeout(() => {
            this.isRecoveredPassword = true;
            this.isRecoveringPassword = false;
        }, 1000);
    }
}
</script>

<style lang="scss" scoped></style>
